*.class
target/
*.swp
*.swo
*.swn
*.iml
*.ipr
*.iws
.DS_Store
.idea/
.classpath
.ekstazi
.project
*.jar
.settings
.checkstyle
*.log
id_file
*.epoch
.factorypath
.pmd
.sonar/
.deploy
test.svg
model.txt
doc/model.db
